/*debut navigation*/
nav{
    display: inline;
    position: sticky;
    height: 200px;
    background-color: #e5c80bde;
}

nav>div{
    display: inline-block;
    width: 200px;
    position: relative;


}

nav a{
    color: #000;;
    padding: 0px 10px;
    border-left: 2px solid #000;
    text-decoration: none;
    text-align: center;
}

nav>div:first-child>a{
    border: none;
}

nav>div:hover .submenu{
    display:block;
}
.submenu{
    display: none;
    position: absolute;
    background: rgb(204, 198, 170);
   
}
/*fin navigation*/

